#netbeans ignore personal stuff
nbproject/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
/ServicioCliente-ejb/target/
/ServicioCliente-web/target/
/ServicioCliente-ear/target/